
@page
<div>
    <p>User provided additional info</p>
    <p>
        Hello Jayant.
    </p>
    <form method="post" asp-area="" asp-controller="User" asp-action="Login">
        <button type="submit">Login</button>
    </form>
</div>


